language: go

go:
  1.7

before_install:
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/mattn/goveralls
  - go get -v github.com/Masterminds/glide

install:
  - glide install

script:
  - go test $(glide novendor)
  - $HOME/gopath/bin/goveralls -service=travis-ci
