### Mailgun configuration ###
MAILGUN_DOMAIN=<YOUR MAILGUN DOMAIN HERE>
MAILGUN_APIKEY=<YOUR MAILGUN API KEY HERE>

### Sendgrid configuration ###
SENDGRID_APIKEY=<YOUR SENDGRID API KEY HERE>

### Mailspree configuration ###
# Login
MAILSPREE_USER=admin
MAILSPREE_PASS=supersecret
# Key for signing tokens
MAILSPREE_PK=supersupersecret
